@import url("https://fonts.googleapis.com/css?family=Lato:400,700|Varela+Round&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

/* ---------------------------------------------------
    GLOBAL
----------------------------------------------------- */
body {
  font-family: "Lato", sans-serif;
  line-height: 1.4;
  background-color: #e5e5e5;
  font-size: 18px;
  color: #cecece;
}

a {
  color: #333333;
  text-decoration: none;
}

.btn {
  margin-top: 30px;
  padding: 15px;
  color: #cecece;
  font-size: 1.1rem;
  font-family: "Varela Round", sans-serif;
  background-color: #300d77;
  border: 2px solid #eade09;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out, color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out, color 0.3s ease-in-out, box-shadow 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
}

.btn:hover {
  color: #ffffff;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  background-color: #4b14b8;
  -webkit-box-shadow: -1px -1px 4px #eade09, 1px 1px 4px #eade09;
          box-shadow: -1px -1px 4px #eade09, 1px 1px 4px #eade09;
}

.btn-disabled {
  color: #9d9d9d;
  background-color: #1f094d;
  border: 2px solid #cecece;
  cursor: initial;
  -webkit-box-shadow: none;
          box-shadow: none;
  pointer-events: none;
}

.h1 {
  font-size: 2rem;
}

.big {
  font-size: 5rem;
}

/* ---------------------------------------------------
    MAIN VIEW
----------------------------------------------------- */
.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  background-color: #38108d;
  background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%23fffeff' fill-opacity='0.31'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.main-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 650px;
  height: 550px;
  padding: 20px 30px;
  background: radial-gradient(#6a41b9, #300d77);
  border: 6px solid #28066b;
  text-align: center;
}

.btn-start {
  margin-top: 30px;
}

.categories-label {
  margin: 20px 0 10px;
}

.categories {
  font-size: 1.2rem;
  padding: 10px;
  font-family: "Varela Round", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.categories select {
  border: none;
  background: #300d77;
  color: #cecece;
  border: 2px solid #eade09;
}

.btn-next-question,
.btn-finish-quiz {
  margin-top: 20px;
  padding: 10px;
  background-color: #300d77;
  border: 2px solid #eade09;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.btn-next-question:hover,
.btn-finish-quiz:hover {
  color: #ffffff;
  background-color: #4b14b8;
  -webkit-box-shadow: -1px -1px 4px #eade09, 1px 1px 4px #eade09;
          box-shadow: -1px -1px 4px #eade09, 1px 1px 4px #eade09;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

/* ---------------------------------------------------
    QUIZZ VIEW
----------------------------------------------------- */
.quiz-panel {
  position: relative;
}

.loader-icon {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 10px solid #28066b;
  border-top: 10px solid #fccaab;
  -webkit-animation: loading 2s linear infinite;
          animation: loading 2s linear infinite;
}

/* ---------------------------------------------------
    QUESTION PANEL
----------------------------------------------------- */
.question-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 60%;
          flex: 0 1 60%;
}

.quiz-information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5px 0 15px;
  font-size: 1.2rem;
}

.quiz-information .prompt {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.btn-prompt {
  margin-top: 0;
  padding: 6px;
}

.question-counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30px;
  width: 30px;
  padding: 10px;
  font-size: 1.2rem;
  background: radial-gradient(#592eb0, #2b0a6d);
  -webkit-box-shadow: -1px -1px 5px 3px #eade09, 1px 1px 5px 3px #eade09;
          box-shadow: -1px -1px 5px 3px #eade09, 1px 1px 5px 3px #eade09;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.question-counter span {
  display: block;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.question-container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.question-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: calc(100% - 15px);
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin: 15px auto auto;
  padding: 0 15px;
  background: radial-gradient(#592eb0, #2b0a6d);
  border: 2px solid #fccaab;
  font-size: 2rem;
}

.warning {
  margin-top: 5px;
  font-size: 1.3rem;
  color: #ff3535;
  text-shadow: 2px 2px 2px #1f094d;
  visibility: hidden;
}

.error {
  -webkit-animation: shake 0.92s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
          animation: shake 0.92s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  visibility: visible;
}

/* ---------------------------------------------------
    ANSWERS PANEL
----------------------------------------------------- */
.answers-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.answers-panel :first-child {
  margin: 5px 5px 5px 0;
}

.answers-panel :nth-child(2) {
  margin: 5px 0 5px 5px;
}

.answers-panel :nth-child(3) {
  margin: 5px 5px 0 0;
}

.answers-panel :last-child {
  margin: 5px 0 0 5px;
}

.answer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
  font-size: 1.15rem;
  font-family: "Varela Round", sans-serif;
  background: #300d77;
  border: 2px solid #fccaab;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 45%;
          flex: 1 1 45%;
  cursor: pointer;
}

.answer-hover {
  -webkit-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border 0.3s ease-in-out;
}

.answer-hover:hover {
  color: #000000;
  background: #eade09;
  border: 2px solid #000000;
}

.correct,
.wrong {
  color: #000000;
  border: 2px solid #000000;
}

.correct {
  background-color: #23d70b;
}

.wrong {
  background-color: #f9180d;
}

/* ---------------------------------------------------
    ANIMATIONS
----------------------------------------------------- */
@-webkit-keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes shake {
  10%,
  90% {
    -webkit-transform: translate3d(-4px, 0, 0);
            transform: translate3d(-4px, 0, 0);
  }
  20%,
  80% {
    -webkit-transform: translate3d(6px, 0, 0);
            transform: translate3d(6px, 0, 0);
  }
  30%,
  50%,
  70% {
    -webkit-transform: translate3d(-10px, 0, 0);
            transform: translate3d(-10px, 0, 0);
  }
  40%,
  60% {
    -webkit-transform: translate3d(10px, 0, 0);
            transform: translate3d(10px, 0, 0);
  }
}

@keyframes shake {
  10%,
  90% {
    -webkit-transform: translate3d(-4px, 0, 0);
            transform: translate3d(-4px, 0, 0);
  }
  20%,
  80% {
    -webkit-transform: translate3d(6px, 0, 0);
            transform: translate3d(6px, 0, 0);
  }
  30%,
  50%,
  70% {
    -webkit-transform: translate3d(-10px, 0, 0);
            transform: translate3d(-10px, 0, 0);
  }
  40%,
  60% {
    -webkit-transform: translate3d(10px, 0, 0);
            transform: translate3d(10px, 0, 0);
  }
}

/* ---------------------------------------------------
    RWD
----------------------------------------------------- */
@media (min-width: 300px) and (max-width: 420px) {
  .main-panel h1 {
    font-size: 3.5rem;
  }
}

@media (min-width: 300px) and (max-width: 620px) {
  html {
    font-size: 14px;
  }
  .main-panel {
    width: 80%;
    height: 50%;
    margin: 0 20px;
  }
  .quiz-panel {
    margin: 20px 0;
    height: 600px;
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
  }
  .quiz-information {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .quiz-information .prompt {
    -webkit-box-flex: 0;
        -ms-flex: 0;
            flex: 0;
  }
  .warning {
    margin-top: 10px 0;
  }
  .answers-panel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  .answers-panel .answer {
    margin: 5px 0;
  }
}
/*# sourceMappingURL=App.css.map */