* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}

/* ---------------------------------------------------
    GLOBAL
----------------------------------------------------- */

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4;
    background-color: #081a33;
    color: #ffffff;
    font-size: 18px;
}

a {
    color: #333333;
    text-decoration: none;
}

.btn {
    font-size: 1.2rem;
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
    background-color: #a2d7d5;
    border: 2px solid #46a49f;
    cursor: pointer;
}
.h1 {
    font-size: 2rem;
}
.big {
    font-size: 5rem;
}

/* ---------------------------------------------------
    MAIN VIEW
----------------------------------------------------- */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main-panel {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 650px;
    height: 450px;
    border: 2px solid green;
    border-radius: 10px;
    text-align: center;
}

/* ---------------------------------------------------
    QUIZZ VIEW
----------------------------------------------------- */

.quiz-panel {
    align-items: stretch;
}

/* ---------------------------------------------------
    QUESTION PANEL
----------------------------------------------------- */
.question-panel {
    border: 2px solid red;
    flex: 0 1 50%;
}
.content {
    border: 2px solid yellow;
    height: 40px;
    font-size: 1.3rem;
}
.question-heading {
    font-size: 2rem;
    margin: 20px auto;
}

/* ---------------------------------------------------
    ANSWERS PANEL
----------------------------------------------------- */
.answers-panel {
    border: 2px solid blue;
    flex: 1;
    display: flex;
    flex-flow: row wrap;
}
.answer {
    flex: 1 1 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #1eea2d;
    cursor: pointer;
}
.marked {
    // background-color: #0d8616;
    background-color: #1a53a2;
}
.correct {
    background-color: #0d8616;
}
.wrong {
    background-color: #b81148;
}
