@import url("https://fonts.googleapis.com/css?family=Lato:400,700|Varela+Round&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

/* ---------------------------------------------------
    GLOBAL
----------------------------------------------------- */
body {
  font-family: "Lato", sans-serif;
  line-height: 1.4;
  background-color: #e5e5e5;
  font-size: 18px;
}

a {
  color: #333333;
  text-decoration: none;
}

.btn {
  font-size: 1.2rem;
  padding: 10px;
  border-radius: 10px;
  background-color: #b9eaff;
  border: 2px solid #009de1;
  font-family: "Varela Round", sans-serif;
  cursor: pointer;
  -webkit-transition: background-color 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.btn:hover {
  background-color: #61d1ff;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.btn:focus {
  -moz-outline-radius: 10px;
}

.h1 {
  font-size: 2rem;
}

.big {
  font-size: 5rem;
}

.btn-disabled {
  background-color: #45a09c;
  border: 2px solid #245553;
  cursor: initial;
  pointer-events: none;
}

/* ---------------------------------------------------
    MAIN VIEW
----------------------------------------------------- */
.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  background-color: #ffffff;
}

.main-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 650px;
  height: 500px;
  border: 6px solid #61d1ff;
  border-radius: 15px;
  text-align: center;
  padding: 30px;
  background-color: #ffffff;
}

.btn-start {
  margin-top: 30px;
}

.categories-label {
  margin: 20px 0 0;
}

.categories {
  font-size: 1.2rem;
  padding: 10px;
  font-family: "Varela Round", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.categories select {
  border: none;
  border: 2px solid #009de1;
}

.control-buttons {
  -ms-flex-item-align: stretch;
      align-self: stretch;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.control-buttons .prompt {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.btn-next-question:hover {
  background-color: #61d1ff;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.btn-prompt {
  font-size: 0.9rem;
  padding: 6px;
  background-color: #adf724;
}

.btn-prompt:hover {
  background-color: #8fd70b;
}

.btn-prompt-disabled {
  background-color: #3aae09;
  border: 2px solid #245553;
  cursor: initial;
  pointer-events: none;
}

/* ---------------------------------------------------
    QUIZZ VIEW
----------------------------------------------------- */
.quiz-panel {
  position: relative;
  background-color: #ffffff;
}

.loader-icon {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 10px solid #61d1ff;
  border-top: 10px solid #009de1;
  position: absolute;
  -webkit-animation: loading 2s linear infinite;
          animation: loading 2s linear infinite;
}

/* ---------------------------------------------------
    QUESTION PANEL
----------------------------------------------------- */
.question-panel {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -ms-flex-item-align: stretch;
      align-self: stretch;
}

.content {
  font-size: 1.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content p {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.question-category {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.counter {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.question-heading {
  font-size: 2rem;
  margin: auto auto;
}

.warning {
  color: #fd1313;
  font-size: 1.3rem;
  visibility: hidden;
}

.error {
  -webkit-animation: shake 0.92s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
          animation: shake 0.92s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  visibility: visible;
}

/* ---------------------------------------------------
    ANSWERS PANEL
----------------------------------------------------- */
.answers-panel {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-item-align: stretch;
      align-self: stretch;
}

.answer {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 45%;
          flex: 1 1 45%;
  font-size: 1.3rem;
  font-family: "Varela Round", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid #009de1;
  margin: 10px;
  border-radius: 25px;
  cursor: pointer;
}

.answer-hover {
  -webkit-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

.answer-hover:hover {
  background-color: #b9eaff;
}

.correct {
  background-color: #8fd70b;
}

.wrong {
  background-color: #fd1313;
}

/* ---------------------------------------------------
    STATISTICS
----------------------------------------------------- */
/* ---------------------------------------------------
    ANIMATIONS
----------------------------------------------------- */
@-webkit-keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes shake {
  10%,
  90% {
    -webkit-transform: translate3d(-4px, 0, 0);
            transform: translate3d(-4px, 0, 0);
  }
  20%,
  80% {
    -webkit-transform: translate3d(6px, 0, 0);
            transform: translate3d(6px, 0, 0);
  }
  30%,
  50%,
  70% {
    -webkit-transform: translate3d(-10px, 0, 0);
            transform: translate3d(-10px, 0, 0);
  }
  40%,
  60% {
    -webkit-transform: translate3d(10px, 0, 0);
            transform: translate3d(10px, 0, 0);
  }
}

@keyframes shake {
  10%,
  90% {
    -webkit-transform: translate3d(-4px, 0, 0);
            transform: translate3d(-4px, 0, 0);
  }
  20%,
  80% {
    -webkit-transform: translate3d(6px, 0, 0);
            transform: translate3d(6px, 0, 0);
  }
  30%,
  50%,
  70% {
    -webkit-transform: translate3d(-10px, 0, 0);
            transform: translate3d(-10px, 0, 0);
  }
  40%,
  60% {
    -webkit-transform: translate3d(10px, 0, 0);
            transform: translate3d(10px, 0, 0);
  }
}
/*# sourceMappingURL=App.css.map */