@import url("https://fonts.googleapis.com/css?family=Lato:400,700|Varela+Round&display=swap");

$font-color: #cecece;
$font-color-disabled: #9d9d9d;
$background-color: #38108d;
$container-color: #4b14b8;
$container-color-dark: #1f094d;
$answer-color: #300d77;
$main-color: #28066b;
$main-color-light: #eade09;
$main-color-dark: #fccaab;
$main-font: "Lato", sans-serif;
$secondary-font: "Varela Round", sans-serif;
$correct-color: #23d70b;
$wrong-color: #f9180d;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}

/* ---------------------------------------------------
    GLOBAL
----------------------------------------------------- */

body {
    font-family: $main-font;
    line-height: 1.4;
    background-color: #e5e5e5;
    font-size: 18px;
    color: $font-color;
}
a {
    color: #333333;
    text-decoration: none;
}
.btn {
    margin-top: 30px;
    padding: 15px;
    color: $font-color;
    font-size: 1.1rem;
    font-family: $secondary-font;
    background-color: $answer-color;
    border: 2px solid $main-color-light;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out,
        color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    &:hover {
        color: #ffffff;
        transform: translateY(-3px);
        background-color: $container-color;
        box-shadow: -1px -1px 4px $main-color-light,
            1px 1px 4px $main-color-light;
    }
}
.btn-disabled {
    color: $font-color-disabled;
    background-color: $container-color-dark;
    border: 2px solid $font-color;
    cursor: initial;
    box-shadow: none;
    pointer-events: none;
}
.h1 {
    font-size: 2rem;
}
.big {
    font-size: 5rem;
}

/* ---------------------------------------------------
    MAIN VIEW
----------------------------------------------------- */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: $background-color;
    background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%23fffeff' fill-opacity='0.31'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
.main-panel {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 650px;
    height: 550px;
    padding: 20px 30px;
    background: radial-gradient(rgb(106, 65, 185), rgb(48, 13, 119));
    border: 6px solid $main-color;
    text-align: center;
}
.btn-start {
    margin-top: 30px;
}
.categories-label {
    margin: 20px 0 10px;
}
.categories {
    font-size: 1.2rem;
    padding: 10px;
    font-family: $secondary-font;
    display: flex;
    flex-flow: column;
    select {
        border: none;
        background: $answer-color;
        color: $font-color;
        border: 2px solid $main-color-light;
    }
}

.btn-next-question,
.btn-finish-quiz {
    margin-top: 20px;
    padding: 10px;
    background-color: $answer-color;
    border: 2px solid $main-color-light;
    transition: all 0.3s ease-in-out;
    &:hover {
        color: #ffffff;
        background-color: $container-color;
        box-shadow: -1px -1px 4px $main-color-light,
            1px 1px 4px $main-color-light;
        transform: translateY(0);
    }
}

/* ---------------------------------------------------
    QUIZZ VIEW
----------------------------------------------------- */

.quiz-panel {
    position: relative;
}
.loader-icon {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 10px solid $main-color;
    border-top: 10px solid $main-color-dark;
    animation: loading 2s linear infinite;
}

/* ---------------------------------------------------
    QUESTION PANEL
----------------------------------------------------- */
.question-panel {
    display: flex;
    flex-flow: column;
    align-self: stretch;
    flex: 0 1 60%;
}
.quiz-information {
    display: flex;
    align-items: center;
    // justify-content: space-between;
    margin: 5px 0 15px;
    font-size: 1.2rem;
    .prompt {
        flex: 1;
    }
}
.btn-prompt {
    margin-top: 0;
    padding: 6px;
}

.question-counter {
    // border: 2px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    padding: 10px;
    font-size: 1.2rem;
    background: radial-gradient(rgb(89, 46, 176), rgb(43, 10, 109));
    box-shadow: -1px -1px 5px 3px $main-color-light,
        1px 1px 5px 3px $main-color-light;
    user-select: none;
    transform: rotate(45deg);
    span {
        display: block;
        transform: rotate(-45deg);
    }
}
.question-container {
    flex: 1;
    display: flex;
}

.question-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100% - 15px);
    flex: 1 1 auto;
    margin: 15px auto auto;
    padding: 0 15px;
    background: radial-gradient(rgb(89, 46, 176), rgb(43, 10, 109));
    border: 2px solid $main-color-dark;
    font-size: 2rem;
}
.warning {
    margin-top: 5px;
    font-size: 1.3rem;
    color: #ff3535;
    text-shadow: 2px 2px 2px $container-color-dark;
    visibility: hidden;
}
.error {
    animation: shake 0.92s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
    visibility: visible;
}

/* ---------------------------------------------------
    ANSWERS PANEL
----------------------------------------------------- */
.answers-panel {
    display: flex;
    flex-flow: row wrap;
    align-self: stretch;
    flex: 1 0 auto;
    :first-child {
        margin: 5px 5px 5px 0;
    }
    :nth-child(2) {
        margin: 5px 0 5px 5px;
    }
    :nth-child(3) {
        margin: 5px 5px 0 0;
    }
    :last-child {
        margin: 5px 0 0 5px;
    }
}
.answer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    font-size: 1.15rem;
    font-family: $secondary-font;
    background: $answer-color;
    border: 2px solid $main-color-dark;
    flex: 1 1 45%;
    cursor: pointer;
}
.answer-hover {
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out,
        border 0.3s ease-in-out;
    &:hover {
        color: #000000;
        background: $main-color-light;
        border: 2px solid #000000;
    }
}
.correct,
.wrong {
    color: #000000;
    border: 2px solid #000000;
}
.correct {
    background-color: $correct-color;
}
.wrong {
    background-color: $wrong-color;
}

/* ---------------------------------------------------
    ANIMATIONS
----------------------------------------------------- */

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes shake {
    10%,
    90% {
        transform: translate3d(-4px, 0, 0);
    }
    20%,
    80% {
        transform: translate3d(6px, 0, 0);
    }
    30%,
    50%,
    70% {
        transform: translate3d(-10px, 0, 0);
    }
    40%,
    60% {
        transform: translate3d(10px, 0, 0);
    }
}

/* ---------------------------------------------------
    RWD
----------------------------------------------------- */
@media (min-width: 300px) and (max-width: 420px) {
    .main-panel {
        h1 {
            font-size: 3.5rem;
        }
    }
}

@media (min-width: 300px) and (max-width: 620px) {
    html {
        font-size: 14px;
    }
    .main-panel {
        width: 80%;
        height: 50%;
        margin: 0 20px;
    }
    .quiz-panel {
        margin: 20px 0;
        height: 600px;
        align-self: stretch;
    }
    .quiz-information {
        justify-content: space-between;
        .prompt {
            flex: 0;
        }
    }
    .warning {
        margin-top: 10px 0;
    }
    .answers-panel {
        display: flex;
        flex-flow: column nowrap;
        user-select: none;
        .answer {
            margin: 5px 0;
        }
    }
}
